'.php':
  # Controller
  'Seme Controller':
    'prefix': 'semecontroller'
    'body': '''
<?php
class ${1:ControllerName} extends ${2:SENE}_Controller{
	public function __construct(){
		parent::__construct();
		\$this->setTheme('front');
	}
	public function index(){
    \$data = array();
    \$this->setTitle('${3:PageTitle}');
		\$this->putThemeContent('${4:home/home}',$data);
		\$this->loadLayout('${5:col-1}');
		\$this->render();
	}
}
'''
